*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    margin: 0 70px;
}
/* common class */
.heading h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
/* end common class */


/* first logo section */

#logo-image{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo{
    max-width: 145px;
    /* height: 45px; */
}
/* hero  section */

#hero{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #FEEAE9;
    width: 100%;
    /* width: 1128px; */
    /* height: 450px; */
    padding: 30px;
    margin-bottom: 80px;
    border-radius: 24px;
    align-items: center;
}
/*  */
#hero-heding h1{
    font-size: 56px;
    color: #1f1f1f;
    margin-bottom: 20px;
}
#hero-heding p{
    /* font-size: 16px; */
    color: #4E4E4E;
    margin-bottom: 20px;
    /* width: 456px ; */
    /* line-height: 26px; */
}
#hero-heding h2{
    font-size: 41px;
    color: #FF136F;
    margin-bottom: 20px;
}
#hero-heding button{
    font-size: 16px;
    padding:  13px 28px;
    color: #ffffff;
    border-radius: 6px;
    shape-outside: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F );
}
#hero-img{
    width: 100%;
    max-width: 402px;
    /* height: 378px; */
    vertical-align: middle;
    object-fit: contain;

}
/* categoriec */
#Category-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* align-items: center; */
    /* padding: 10px 20px; */
    margin-bottom: 100px;
}
.box{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;   

}
.conteinar{
    margin-bottom: 30px;
}
.box h3{
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
}
/* shoes */

#Shoes-conteinar{
    margin-bottom: 100px;
}
.Shoes{
    display: flex;
    justify-content: space-between;
    gap: 22px;
    justify-items: center;
    

}
.Shoes-box{
    align-items: center;
    justify-items: center;
    border: 1px solid #929292;
    padding: 20px;
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
}
.Shoes-box img{
    width: 100%;
    max-width: 336px;
}
.Shoes-box h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}
.Shoes-box p{
    font-family: "Inter", sans-serif;
    text-align: center;
    padding-bottom: 10px;
}
.Shoes-box h4{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
}
.Shoes-box button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}
/* beg  */
#beg-conteinar{
    margin-bottom: 100px;
}
#beg img{
    width: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
/* end section  */
#end{
    margin-bottom: 100px;
}
#end-section{
    background-color: #FFF2F1;
    width: 100%;
    max-width: 1128px;
    padding: 146px 264px;
}
.head{
    text-align: center;
}
.head *{
    padding-bottom: 10px;
}
.head input{
    width: 80%;
    max-width: 683px;
    padding: 10px 20px;
    border-radius: 6px;
    shape-outside: none;
    border: none;
}
.head button{
    /* width: 80%; */
    max-width: 157px;
    padding: 10px;
    color: #ffffff;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    shape-outside: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FF589B, #FF136F );
}
.head h2{
    font-size: 30px;
    font-weight: 700px;
    padding-bottom: 10px;
}